.member-plan{
    position: relative;
    padding: 1.25rem 2.5rem;
    border-radius: 0.625rem;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(95, 45, 237, 0.15);
    transition: all .5s;
}

.member-plan h1{
    color:#0F0F0F;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 2.12rem;
    transition: all .5s;
}

.member-plan img{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 11.1875rem;
    height: 5.625rem;
}

.member-plan .plan-price .dollar-sign{
    color: #0F0F0F;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .5s;
}

.member-plan .plan-price .member-price{
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.member-plan .plan-price .duration{
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ACACAC;
    transition: all .5s;
}

.member-plan h4{
    color:#0F0F0F;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1875rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    transition: all .5s;
}

.member-plan .icon-plan{
    padding: 1px 3px;
    width: fit-content;
    height: fit-content;
    font-size: .75rem;
}
.plan0 .icon-plan  , .plan2 .icon-plan{
    background-color: var(--yellow-color);
    transition: all .5s;
}

.plan1 .icon-plan{
    color: var(--white-color);
    background-color: var(--green-color);
    transition: all .5s;
}

.member-plan ul{
    margin-bottom: 2.5rem !important;
}

.member-plan button{
    width: 100% !important;
    border: 0 ;
    height: 2.5rem !important;
    border-radius: 4.0625rem !important;
    color: var(--white-color) !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}

.plan1 button{
    background-color: var(--green-color);
}

.plan0 button, .plan2 button{
    background-color: #DEBD63;
}

/* .plan0 button:hover, .plan2 button:hover{
    color: #DEBD63 !important;
    border: 1px solid  #DEBD63 !important;
    background-color: var(--white-color) !important;
} */
.plan:hover {
    color: var(--white-color);
    background-color: var(--green-color);
}
.plan:hover h1{
    color: var(--white-color);
}
.plan:hover .dollar-sign{
    color: var(--white-color);
}
.plan:hover h4{
    color: var(--white-color);
}
.plan:hover .icon-plan{
    color: var(--green-color);
    background-color: var(--white-color);
}
.plan:hover button{
    color: #DEBD63 !important;
    border: 1px solid var #DEBD63 !important;
    background-color: var(--white-color) !important;
}

.plan:hover button{

}