.ass2-details{
    padding: 1rem 1rem 2rem 1rem;
}
.ass2-details h3{
    text-align: center;
    font-family: Arial;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    color: var(--darkgreen-color);
}


.ass2-details .first-img img{
    width: auto;
}

.ass2-details .domain-img{
    background-image: url(../../../../assests/Assessments/Assessment2/details2.png);
    background-size: contain;
    height: 15.7rem !important;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width: 768px) {
    .ass2-details .domain-img{
        width: 100% !important;
        height: 18rem !important;
        background-position: center;
    }
}

.ass2-details .btn-img img{
    width: auto !important;
    height: auto;
}