.ass2-details{
    padding: 50px 0;
}
.ass2-details h2{
    font-size: 30px;
    text-align: left !important;
    margin: 20px 55px !important;
}
.ass2-details h3{
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    color: var(--darkgreen-color);
}

.ass2-details p{
    font-size: 18px !important;
    margin: 0 55px !important;
}
.ass2-details li .desc{
    font-size: 16px !important;
    color: #656567 !important;

}
.ass2-details .first-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ass2-details .first-img img{
    width: 400px;
    margin: auto;
}

.ass2-details .domain-img{
    background-image: url(../../../../assests/Assessments/Assessment2/details2.png);
    background-size: contain;
    height: 15.7rem !important;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width: 768px) {
    .ass2-details .domain-img{
        width: 100% !important;
        height: 18rem !important;
        background-position: center;
    }
}

.ass2-details .btn-img img{
    width: auto !important;
    height: auto;
}