.top{
  margin-top: 120px;
}
.card
{
  margin: 10px;
  padding: 0 0 20px 0;
  /* height: 400px; */
  background-color: transparent;
  cursor: pointer;
}
.card img{
  width: 250px;
  margin: auto;
  height: 250px;
}
.card h4{
  margin: 10px;
}