.course {
  /* max-width: 320px; */
  border-radius: 16px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 20px 10px rgba(95, 45, 237, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin: 10px 0px;
  transition: 0.1s all ease-out;
}
.course .course__tag span:last-child:hover {
  color: var(--yellow-color);
  cursor: pointer;
  /* color: #fff; */
}
.course .course__container {
  width: 100%;
  height: 50%;
  position: relative;
}
.course__container img {
  border-radius: 16px 16px 0px 0px;
}
.container__tag {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__tag span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.16);
  width: 30px;
  height: 30px;
}
.container__tag button {
  padding: 5px 4px;
  border-radius: 3px;
  background: var(--Yellow, #debd63);
  color: var(--white, #fff);
  border: none;
  text-align: center;
  font-family: 'Tajawal';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  width: 100px;
}
.course h4 {
  color: #000;
  font-family: 'Tajawal';
  font-size: 20px;
  font-weight: 700;
}
.course hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #acacac;
  margin: 1em 0;
  padding: 0;
}
.course__tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course__tag span {
  color: var(--defult, #214a4a);
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.course__tag svg {
  fill: #214a4a;
}
.btnRead {
  color: var(--defult, #214a4a);
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.course:hover {
  background: #214a4a;
}
.course:hover h4 {
  color: #fff;
}
.course:hover .course__tag span {
  color: #fff;
}
.course:hover a {
  color: #fff;
}
.course:hover svg {
  fill: #fff;
}
.course a:hover {
  color: var(--yellow-color);
}
.course a:hover svg {
  fill: var(--yellow-color);
}
