.register {
    /* background-image: url(../../assests/Login/login-bg.png); */
    background-repeat: no-repeat;
    background: #F3F3F3;
    padding: 6.5rem 0;
    /* overflow-x: hidden; */
    /* padding-top: 23vh; */
    margin-top: 10vh ;
    /* padding-bottom: 50px !important; */
    min-height: 150vh;
    padding-bottom: 150px;background-size: 100% 100%;
    
}

.col-shadow{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.register-img{
    border-radius: 1.875rem 0 0 1.875rem;
    overflow: hidden;
}
.register-forms{
    border-radius: 1.875rem ;
}

@media screen and (max-width: 992px) {
    .register-img{
        border-radius: 1.875rem 1.875rem 0 0 !important;
        overflow: hidden;
    }
    .register-forms{
        border-radius: 0 0 1.875rem 1.875rem !important;
    }
}

.register .select-form {
    /* position: absolute; */
    /* padding: 0 48px; */
    /* transform: translateY(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 20px auto;
}

.show-form1, .show-form2 {
    display: flex;
    height: 3.0625rem;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.3s;
    
}

.show-form1 {
    padding: 1rem 2.75rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background: #DEBD63;
    color: var(--white-color);
}

.show-form2 {
    padding: 1rem 0.8125rem 1rem 0.875rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background: #DEBD63;
    color: var(--white-color);
}

.show-form1.active,
.show-form2.active {
    border: 1px solid var(--Yellow, #DEBD63);
    color: #DEBD63;
    background: var(--white, #FFF);
}
.rtl .show-form1{

    border-radius: 0rem 0.5rem 0.5rem 0rem;
}
.rtl .show-form2{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

@media screen and (max-width: 992px) {
    .register .row {
        box-shadow: none !important;
        background-color: #F3F3F3 !important;
    }

    .select-form {
        /* padding: 0 !important; */
        right: 50% !important;
        top: 6% !important;
        /* transform: translateX(50%) !important; */
    }
    .select-form button{
        width: 12.5rem !important;
    }
}
