.ass3-details{
    padding: 50px;
}

.ass3-details h2{
    text-align: left !important;
    margin-bottom: 1.50rem !important;
}
    .ass3-details h3{
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 !important;
    margin-bottom: 1.50rem !important;
    color: var(--darkgreen-color);
}
