.tags {
  max-width: 770px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid var(--html-themewin-com-alto, #ddd);
  border-bottom: 1px solid var(--html-themewin-com-alto, #ddd);
}
.tags div {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 800px) {
  .tags {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
