.right_profile {
  width: 100%;

  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 20px 10px rgba(95, 45, 237, 0.02);
  padding: 40px 30px 10px 30px;
}
.right_profile header {
  color: var(--Gray-Text, #656567);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: var(--Gray-BG, #f2f2f2);
  padding: 8px 10px;

  margin-bottom: 6px;
}
.profile_links {
  list-style: none;
  padding: 0;
}
.profile_link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0 12px 0;
  border-bottom: 1px solid var(--Gray-BG, #f2f2f2);
  cursor: pointer;
}
.profile_link span {
  color: var(--Gray-Text, #656567);

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
