.join-community .fs-1{
    color:  var(--darkgreen-color);

}
.join-community h4{
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:  var(--darkgreen-color);
    padding-left: 28px;
    padding-right: .75rem;
}

.join-community li{
    /* padding-left: 2.88rem ; */
    /* padding-right: 2.88rem ; */
}

.join-community li:not(:last-child){
    margin-bottom: 1rem ;
}