.coures_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.coures_content ul {
  display: flex;
  gap: 20px;
}
.coures_content ul li {
  text-decoration: none;
  list-style: none;
  color: var(--Gray-Text, #656567);
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  padding: 0 30px;
  font-weight: 400;
  border-right: 1px solid #0f0f0f;
}
.coures_content ul li:last-child {
  border: none;
}
.coures_content .active {
  text-decoration: underline;
}
.coures_content h5 {
  color: var(--defult, #214a4a);
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
}
.coures_content h3 {
  color: var(--Black, #0f0f0f);
  font-family: Arial;
  font-size: 36px;
  font-weight: 700;
}
.courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
