.ass-table .selected{
    background-color: var(--darkgreen-color);
}
.ass-table tbody td{
    color: var(--white-color);
}

.ass-table th{
    position: relative;
    padding: 1.5em;
}

.ass-table .W-5{
    width: 5% !important;
}

.ass-table .W-17{
    width: 17%;
}

.ass-table .W-22{
    width: 22
}



@media screen and (min-width: 1200px) { 
    .ass-table .W-60{
        width: 60%  !important;
    }
    .ass-table .W-23{
        width: 23% !important;
    }
    .ass-table .W-3{
        width: 3% !important;
    }
}

@media screen and (min-width: 1400px) {
    .ass-table .W-18{
        width: 18% !important;
    }
}

@media screen and (max-width: 640px) {
    .ass-table .W-22{
        width: 22% !important;
    }
}



.ass-table .L-3{
    left: 3.5% !important;

}

.ass-table tbody td{
    position: relative;
}

.ass-table tbody td div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.ass-table tbody th{
    padding: 2em 1.5em;
}

.ass-table th div{
    position: absolute;
    top: 50%;
    left: 5%;
    color: #000;
    font-size: 1em;
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    transform: translateY(-50%);
}

.ass-table th span{
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    font-size: 1em;
}


.ass-table thead th div, .ass-table .custom-th, .ass-table thead th span{
    color: #FF2828;
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    font-size: 1.125em;
}

.ass-table td{
    width: 7%;
}

.submit-ass{
    height: 2.5em;
    width: 7.6875em;
    border: none;
    border-radius: 0.25em;
    color: var(--white-color);
    background: var(--darkgreen-color);
    transition: all .3s;
}

.submit-ass:disabled{
    opacity: .7;
    transition: none;
    color: var(--white-color);
    background: var(--darkgreen-color);
}

.submit-ass:not(:disabled):hover {
    color: var(--darkgreen-color);
    background-color: var(--white-color);
    border: 1px solid var(--darkgreen-color);
}

@media screen and (max-width: 570px) {
    .ass-table tbody th{
        padding: 3em 1.5em;
    }

    .ass-table thead th{
        padding: 2em 1.5em;
    }

    .ass-table thead td{
        padding: 1em;
    }
    
}

@media screen and (max-width: 553px) {
    .ass-table tbody th{
        padding: 3.5em 1.5em;
    }
    .ass-table thead th{
        padding: 3.5em 1.5em;
    }
}
@media screen and (max-width: 850px) {
    .ass-table{
        font-size: 14px;
    }
}

@media screen and (max-width: 790px) {
    .ass-table{
        font-size: 12px;
    }
}


