.expert-teacher-details{
    padding: 2rem 1rem;
}

.expert-teacher-details h3{
    text-align: center;
    font-family: Arial;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    color: var(--darkgreen-color);
}

.expert-teacher-details .custom-h3{
    text-align: start;
    font-weight: 500;
    color: #0f0f0f;
}

.expert-teacher-details h2{
    margin-bottom: 1.75rem;
}

.expert-teacher-details ul{
    margin-bottom: 3.75rem;
}

.expert-teacher-details .phases-row{
    margin-bottom: 2rem;
}

.expert-teacher-details .phases-graph{
    background-image: url(../../../assests/ExpertTeacher/graph.png);
    background-size: 100% 100%;
    height: 23.5625rem !important;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .expert-teacher-details .phases-graph{
        width: 100% !important;
        height: 18rem !important;
    }
}

.expert-teacher-details .custom-margin{
    margin-bottom: 2rem;
}

.expert-teacher-details .margin-top-bottom{
    margin: 3.75rem 0;
}

.expert-teacher-details .register-link{
    border: none;
    padding: .8rem 1rem .8rem 1rem;
    border-radius: 4.0625rem;
    color: var(--white-color);
    background-color: #DEBD63;
    border: 1px solid;
}

.expert-teacher-details .register-link:hover{
    color: #DEBD63;
    border: 1px solid #DEBD63;
    background-color: var(--white-color);
}

.expert-teacher-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .expert-teacher-btn{
        flex-direction: column;
        gap: 1rem !important;
    }
}


table th{
    padding: 5px;
}

table tr{
    padding: 5px;
}