.phase-details span{
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--darkgreen-color);
}

.phase-details{
    color: #0F0F0F;
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: .75rem;
    margin-bottom: 1.25rem;
    border-left: 2px solid var(--darkgreen-color);
}

[dir = "rtl"] {
    .phase-details{
        border-right: 2px solid var(--darkgreen-color);
        border-left: 0;
        padding-right: .75rem;
        padding-left: 0;
    } 
}
