.phase-details span{
    font-family: Arial;
font-size: 18px;
font-weight: 700;
line-height: 28px;
text-align: left;
color: black;

}

.phase-details{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
color:  #656567;

}

[dir = "rtl"] {
    .phase-details{
        border-right: 2px solid var(--darkgreen-color);
        border-left: 0;
        padding-right: .75rem;
        padding-left: 0;
        font-size: 20px;
    } 
}
