.benefit-card{
    border-radius: 0.625rem;
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px 2px rgba(95, 45, 237, 0.10);
    transition: all .3s;
}

.benefit-card ul li{
    align-items: baseline !important;
}
.benefit-card .benefitIcon-box{
    width: 5.125rem;
    height: 5.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-card .box01{
    background-color: rgb(139, 188, 201);
}
.benefit-card .box02{
    background-color: rgb(151, 173, 105);
}
.benefit-card .box03{
    background-color: rgb(221, 169, 126);
}

.benefit-icon{
    font-size: 2.25rem;
    color: var(--white-color);
    transition: all .3s;
}

.benefitNo-box{
    font-size: 3rem;
    font-weight: 800;
    line-height: 4.8rem;
    color: var(--gray-color);
    transition: all .3s;
}

.benefit-card li{
    padding: 0 !important;
    margin-bottom: 1.19rem !important;
}

.benefitList-icon {
    padding: .3rem;
    height: fit-content;
    width: fit-content;
    transition: all .3s;
}

.benefit-card:hover{
    color: var(--white-color);
    background-color: var(--green-color);
}

.benefit-card:hover .benefit-icon{
    color: var(--green-color);

}

.benefit-card:hover .benefitList-icon{
    color: var(--green-color);
    background-color: var(--white-color);
}