.smartText {
  display: flex;
  /* gap: 2px; */
  margin-bottom: 0px;
}
.smartText .promImg {
  /* margin-top: 10px; */
  width: 50px !important;
  
  height: 16px !important;
  margin: 10px !important;
  /* font-size: 20px !important; */
}
.smartText p {
  color: var(--Black, #0f0f0f);
  /* 16 Regular */
  color: #656567;

font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;
}

html[dir = "rtl"] .smartText p
{
    text-align: right !important;
    /* margin-right: 10px; */
    margin: 0 20px 10px;
}