.smartText {
  display: flex;
  gap: 15px;
  margin-bottom: 0px;
}
.smartText svg {
  margin-top: 10px;
  width: 50px;
  height: 16px;
}
.smartText p {
  color: var(--Black, #0f0f0f);
  /* 16 Regular */
  color: #656567;

font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;
}
