.social__follow {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.social__follow svg {
  fill: #191b1e !important;
  stroke: #191b1e !important;
}
.social__follow span {
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: var(--html-themewin-com-aqua-haze, #f2f6f7);
}
