.main-expert-acd-img{

    background-image: url(../../assests/ExpertTeachingAcd/main-img.png);  
}


@media screen and (max-width: 768px) {
    .main-expert-acd-img figcaption{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.main-expert-acd-img h1{
    color: #DEBD63;
  text-align: center !important;

}

.expert-academy{
    padding: 2.5rem 3.75rem;
    background: var(--gray-color);
}

@media screen and (max-width: 768px) {
    .expert-academy{
        padding: 1rem;
    }
}

.expert-academy .expert-teacher-sidebar , .expert-academy .expert-academy-details{
    border-radius: 0.75rem;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.expert-academy .expert-academy-details{
    padding: 1.5rem 1.25rem;
}

.expert-academy h2{
    font-family: Arial;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    margin-bottom: 2rem;
}

.expert-academy h3{
    text-align: center;
    font-family: Arial;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    color: var(--darkgreen-color);
}

.expert-academy-card{
    width: auto !important;
    padding: 1rem !important;
    height: 100% !important;
}
