.quiz_room {
  background: var(--html-themewin-com-titan-white, #f5f5f5);
  padding: 30px 60px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.quiz_btn {
  border-radius: 4px;
  background: var(--Green, #214a4a);
  color: var(--white, var(--white, #fff));
  text-align: center;

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 32px;
  border: none;
}
.head {
  border-radius: 30px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 18px 30px;
  color: var(--Green, #214a4a);
  text-align: center;

  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.quiz_layout {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quiz_layout p {
  color: var(--Black, #0f0f0f);

  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--Gray-BG, #f2f2f2);
  display: flex;
  align-items: center;
}
.quiz_layout span {
  color: var(--Green, #214a4a);

  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}
@media (max-width: 1400px) {
  .quiz_room {
    grid-template-columns: 1fr;
  }
  .states {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .states {
    grid-template-columns: 1fr;
  }
}
