.middleSmart {
  max-width: 100%;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 12px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.middleSmart h3 {
  color: var(--Black, #0f0f0f);
  /* 24 Medium */
  /* text-align: center; */
  font-family: Arial;
  font-size:30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: 10px 30px 20px;
  /* margin-top: 10px; */
}
.middleSmart h3 small{
  font-size: 18px !important;
}
.middleSmart__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.middleSmart__z {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  margin: 10px 0;
}
.middleSmart__z img {
  width: 100% !important;
  height: auto !important;
}
.z__content h4 {
  color: var(--Black, #0f0f0f);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
}
.z__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
.image img {
  width: 80% !important;
  height: 15% !important;
}
}
@media (max-width: 546px) {
  .middleSmart__z {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image img {
    width: 100% !important;
    margin: 10px auto;
    border: 2px;
  }
  .blockA {
    order: 2;
  }
  .blockZ {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .middleSmart__z {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }}