.social {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.social img {
  width: 133px;
  height: 81px;
}
.social h3 {
  color: var(--white, var(--white, #fff));
  text-align: left;
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 307px;
  padding: 0 40px 0 10px;
}
.socailLayout {
  display: flex;
  gap: 5px;
}
.social li {
  display: flex;
  width: 40.19px;
  height: 37px;
  padding: 10.93px 12.23px 10.07px 11.94px;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
}
