.reel {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 20px 10px rgba(95, 45, 237, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0px;
}
.reel header {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto';
  max-width: 100%;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #acacac;
  margin-left: 10px;
  margin-right: 10px;
}
.stats {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats h3 {
  color: var(--Gray-Text, #656567);

  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stats p {
  color: var(--html-themewin-com-black, #000);

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stats span {
  color: #5f6c76;
}
