.buy_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--html-themewin-com-gallery, #eee);
  padding-bottom: 10px;
}
.buy_item p {
  color: var(--html-themewin-com-nevada, #5f6c76);
  margin: 0;
  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 10px;
}
