.evidence-comp{
    width: 100%;
}
.evidence-comp h2{
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.evidence-desc{
    /* border-left: 1px solid var(--green-color); */
    font-size: 18px
}




