.evidence-comp{
    width: 100%;
}
.evidence-comp h2{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px !important;


}

.evidence-desc{
    /* border-left: 1px solid var(--green-color); */
    font-size: 18px;
    margin: 0;
    padding: 0 !important;
}




