.coursesInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 70px 60px;
  background: var(--white, #f2f2f2);
}
.coursesInfo h3 {
  color: #135c51;

  text-align: center;
  font-family: Arial;
  font-size: 18px;

  font-weight: 400;
}
