.mainBtn {
  border-radius: 65px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Arial;
  color: #fff !important;
  text-align: center;
  cursor: pointer;
  /* width: 123px;
  height: 40px;
   */
  padding: 10px 25px;
  border: 1px solid var(--yellow-color);
  background:#DEBD63;

}

.mainBtn:hover{
  background: var(--yellow-color);
}
