.buy__now {
  border-radius: 5px;
  background: var(--white, #fff);
  box-shadow: 0px 5px 20px 0px rgba(94, 122, 193, 0.14);
  padding: 10px;
  margin: 20px 0;
  max-width: 370px;
}

.buy_viedo {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.buy_viedo img {
  max-width: 320px;
  max-height: 198.64px;
  align-self: center;
}
.buy_type_disc {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px;
}
.buy_type {
  display: flex;
  gap: 10px;
  align-items: center;
}
.buy_type h3 {
  color: var(--Blue-Green, #1d6d5d);

  /* 24 Bold */
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.buy_disc {
  background: var(--html-themewin-com-gallery, #ededed);
  padding: 5px;
  color: var(--Yellow, #debd63);
  text-align: center;

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buy__now__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 15px;
}
.buy__now__btn button {
  display: block;
  border-radius: 4px;
  background: var(--Green, #214a4a);
  border: none;
  width: 95%;
  padding: 15px 5px;
  color: var(--white, var(--white, #fff));
  text-align: center;

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy__now__btn span {
  color: var(--html-themewin-com-nevada, #5f6c76);
  text-align: center;

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buy_now_content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  width: 94%;
  margin-top: 30px;
}
