.course__header {
  background: url('../../assests/course-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 460px;
}
.course__header h2 {
  color: var(--html-themewin-com-shark, #191b1e);
  text-align: center;

  /* 48 Bold */
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course_nav {
  display: flex;
  gap: 15px;
}
.course_nav li {
  color: var(--html-themewin-com-shark, #191b1e);
  text-align: center;
  list-style: none;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
