.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  color: #fff !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0 120px  0 3.75rem !important;
  z-index: 1000000;
  height: 106px;
/* padding-right: 140px; */
}
.navbar img{
  /* width: 90px; */
  /* height: 50px; */
  width: 97px;
height: 59px;


}
.navbar.active{
  background-color: #fff !important;
  box-shadow: 0px 0px 5px #0f0f0f4f;
  /* border-bottom: 2px solid var(--darkgreen-color); */
}
.navbar-toggler *{
  color: #fff;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}

.logo {
  width: 110px;
  height: 80px;
  display: flex;
  align-items: center;
}

.links>ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.links li {
  list-style: none;
}


.links a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  transition: 0.1s all ease-in-out;
}
html[dir='rtl'] .links a{
  font-size: 20px;
}
.navbar.active .links *{
  color: #000 !important;
}

.navbar.active .links  a:hover{
  color: var(--yellow-color) !important;
}

.dropdown-item{
  color: #000 !important;
}

.navbar.active .links .active ,
.navbar.active .links a:hover
{
  color: #debd63;
}

.links a.active 
{
  padding-bottom: 75%;
  border-bottom: 3px solid var(--yellow-color);
  color: #debd63 !important; 
  font-size: 20px;
}
html[dir='rtl'] .links a.active{
  font-size: 22px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown-toggle.show{
  color: #debd63 !important;
}
.dropdown-menu{
  border-top: 3px solid var(--yellow-color) !important; 
}

.dropdown-menu a:hover{
  border-bottom: none !important; 
}

.auth .signup {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--Yellow, #debd63);
  text-align: center;
  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 25px;
  background: #fff;
  border-radius: 65px;
  margin-right: 20px;
  border: 1px solid var(--yellow-color, #debd63);
}

@media (max-width: 1260px) {
  .navbar {
      padding: 0 2.5rem !important;
    }
  .links a {
      font-size: 18px;
    }
  .auth * {
    font-size: 14px !important;
  }
  
}
@media (max-width: 1124px) {
  .navbar {
      padding: 0 1rem !important;
    }
  /* .links a {
      font-size: 13px;
    }
  .auth * {
    font-size: 13px !important; */
  /* } */
  
}
@media (max-width: 1085px) {
  .navbar {
      padding: 0 0rem !important;
    }
    .links a {
      font-size: 17px;
    }
    .auth * {
      font-size: 13px !important; 
    }
    
}

@media (max-width: 991px) {
  .navbar {
      padding: 0 1rem !important;
  }

  .navbar-nav{
    align-items: flex-start !important;
  }
  .auth {
    justify-content: flex-start;
  }
    .links a {
      font-size: 18px;
    }
  
    .auth * {
      font-size: 16px !important;
    }
}



.navbar.active .dropdown-item:hover,
.navbar.active .dropdown-item.active,
.dropdown-item:hover,
.dropdown-item.active
 {
  color: var(--white-color) !important;
  background-color: var(--darkgreen-color) !important;
}
