.search__class {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0px;
}
.search__class h2 {
  color: var(--html-themewin-com-black, #000);

  /* 24 Bold */
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
