.ass2-side-img{
    width: 9.375rem;
    height: 9.42856rem;
}

.ass2-side-img2{
    height: 5.883rem;
    width: 15.0625rem;
}

.ass2-sidebar h3{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    margin-bottom: 1.25rem;
    color: var(--darkgreen-color);
}

.ass2-sidebar p{
    font-size: 1rem;
    font-weight: 400;
    color: #0F0F0F;
    text-align: start;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.ass2-sidebar li{
    margin-bottom: 1.25rem;
}