.middle_assessment {
  max-width: 100%;  
  flex-shrink: 0;
  padding: 10px 10px 50px 0px;
  padding: 20px 30px;

  border-radius: 12px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.middle_assessment .h3 {
  color: var(--Black, #0f0f0f);
  /* text-align: left; */
  /* 24 Medium */
  font-family: Arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* max-width: 530px; */
  /* text-align: center; */
  margin: 20px 0;
  padding: 10px 10px 10px 40px;
}
.middle_assessment__layout {
  /* margin: 10px 20px; */
}
.middle_assessment img {
  width: 100%;
}

.th  {
  background-color: rgb(33, 74, 74) !important; 
  color: #fff !important;
}


