.newsletter {
  height: 119px;
  background: #f5f5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  /* margin: 0px 60px; */
  padding: 0px 60px !important;
}
.newsletter h4 {
  color: var(--Green, #214a4a);
  text-align: center;

  /* 24 Bold */
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.newsletter button {
  border-radius: 50px;
  /* background: var(--Green, #214a4a); */
  border: none;
  height: 55px;
  width: 180px;
  color: var(--white, var(--white, #000));
  text-align: center;
  background: #DEBD63;
  padding:17px, 30px, 17px, 42px;
  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsletter .input_icon {
  width: 250px;
  height: 55px;
  border-radius: 15px;
  border: 1px solid #aaa;
  background: var(--white, #fff);
  display: flex;
  align-items: center;
  padding: 0px 12px;
}
.input_icon input {
  width: 90% !important;
  border: none;
  outline: none;
}
.input_icon input::placeholder {
  color: var(--black-400, #acacac);
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  width: 100%;
  background: var(--Green, #306c62);
  position: sticky;
  bottom: 0;
  text-align: left !important;
}
.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.twoAbout {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.end {
  background: var(--Green, #306c62);
  text-align: center;
  margin: 0 auto;
  color: var(--white, #fff);

  font-family: 'Tajawal';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
}
.end span {
  color: var(--Yellow, #debd63);
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 992px) {
  .newsletter {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 10px 40px;
  }
  .newsletter .input_icon {
    margin: 10px 0px;
  }
  .newsletter button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .newsletter h4 {
    margin-top: 10px;
  }
}
