.ass2-table{
    margin: 2rem 55px !important;
    width: 90%;
    border: 1px solid rgb(33, 74, 74);
    font-size: 12px;
}
.ass2-table th{
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size:15px;
    font-style: normal;
    line-height: normal;
}

.ass2-table td{
    color: var(--Black, #0F0F0F);
    font-family: Arial;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ass2-table thead th{
    color: #ffffff;
    padding:1rem;
    background-color: rgb(33, 74, 74);
}

.ass2-table th div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ass2-table tbody th{
    width: 20% !important;
}

.ass2-table tbody td{
    padding: 10px;
}

.ass2-table th .t-heading{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

.ass2-table tr{
    /* padding: .87rem .67rem; */
}

@media screen and (max-width: 500px) {
    .ass2-table{
        font-size: 12px;
    }
}


