.qustion_card {
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  max-width: 980px;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.quistion_head {
  margin-top: 10px;
  color: #000;

  /* 24 Bold */
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.quistion_comp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quistion_comp label {
  color: #000;

  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quistion_comp input[type='radio'] {
  appearance: none !important;
  border: 1px solid #214a4a !important;
  width: 24px !important;
  height: 24px !important;
  content: none !important;
  outline: none !important;
  margin: 0 !important;
}

.quistion_comp input[type='radio']:checked {
  appearance: none !important;
  outline: none !important;
  padding: 0 !important;
  content: none !important;
  border: none !important;
}

.quistion_comp input[type='radio']:checked::before {
  width: 24px !important;
  height: 24px !important;
  position: absolute !important;
  color: green !important;
  content: '\00A0\2713\00A0' !important;
  border: 1px solid #214a4a !important;
  font-weight: bolder !important;
  font-size: 18px !important;
}
.single_quistion {
  display: flex;
  gap: 10px;

  align-items: center;
}
