.blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  /* margin: 20px 60px; */
}
.img__container {
  width: 100%;
  height: 50%;
  position: relative;
}
.img__container img{
  width: 100%;
  height: auto !important;
}
.blog__btn {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 15px;
  border-radius: 5px;
  background: var(--defult, #214a4a);
  color: #fff;
  border: none;
  padding: 4px 12px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.blog__details {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
  margin: 10px 0;
}
.blog__detail {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.blog__detail span {
  color: #656567;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
}
.blog h2 {
  color: #121933;
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
}
.blog h3 {
  color: #656567;

  font-family: 'Tajawal';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}
.blog__btb_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  transition: all 0.2s ease-in-out;
  margin: 0 !important;
}
.blog__btb_edit:hover {
  background: #ffd054;
  border: 1px solid #ffd054;
}
