.ResultInf {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}
.ResultInf h6 {
  color: #000;
  text-transform: capitalize;
  /* 18 Regular */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ResultInf div {
  width: 127px;
  height: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);

  color: #ff2828;

  /* 36 Bold */
  font-family: Arial;
  font-size: 36px;

  font-weight: 700;
}
@media (max-width: 720) {
  .ResultInf div {
    max-width: 120px;
    max-height: 120px;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
