
.recent-blogs .blogs-head{
    margin-bottom: 1.56rem;
}

.recent-blogs .more{
    color: #5F6C76 !important;
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}