.chip {
  border-radius: 20px;
  background: #eee;
  padding: 4px 10px;
  color: var(--Black, #0f0f0f);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 800px) {
  .chip {
    font-size: 12px;
  }
}
