.class__room {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  margin: 20px 60px;
}
.img_class {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img_class img {
  max-width: 800px;
  max-height: 491px;
}
.img_actions {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_actions h6 {
  border-radius: 3px;
  background: var(--Yellow, #debd63);
  display: flex;
  width: 200px;

  padding: 5px 15px 5px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white, #fff);

  text-align: center;
  font-family: Tajawal;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}
.img_actions p {
  color: var(--html-themewin-com-black, #000);
  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img_actions span {
  color: var(--html-themewin-com-nevada, #5f6c76);

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .class__room {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .img_actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
