.ass4{
    padding: 2.5rem 3.75rem;
    background: var(--gray-color);
}

.ass4 .ass4-sidebar , .ass4 .ass4-details{
    border-radius: 0.75rem;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.ass4 h2{
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ass4 .special-p{
    color: #0F0F0F;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
    padding-left: .75rem;
    margin-bottom: 1.25rem;
    border-left: 2px solid var(--darkgreen-color);
}

.ass4 .special-p span{
    color: var(--darkgreen-color);
}

.ass4 ul{
    padding: 0;
}

.ass4 ul li{
    align-items: baseline;
    list-style-type: none;
}

.ass4 .desc{
    color: #0F0F0F;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    font-style: normal;
    line-height: normal;
}

.ass4 .simple-icon {
    height: 1rem;  
    width: 1.00125rem;
    color: var(--darkgreen-color);
}

.large-mb{
    margin-bottom: 3.75rem !important;
}

.med-mb{
    margin-bottom: 2rem !important;
}

@media screen and (max-width: 1200px) {
    .ass4 .main-row{
        flex-direction: column-reverse !important;
    }
}
