.modal-content{
    padding: 4.66rem 1.5rem
}

.modal-dialog-centered{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.modal-content {
    width: auto;
    display: block !important;
    /* margin-right: 1.1rem; */
    margin-right: 0 !important;
}

.modal.fade.show{
    padding-right: 0 !important;
}

.modal-header {
    display: block !important;
    border: 0 !important;  
}

.modal-footer{
    border: 0 !important;
    
}


.modal-title{
    font-size: 1.125rem;
    text-align: center;
}