.services__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  height: 40vh;
  background-image: url('../../assests/ServicesHeader.png');
  background-image: cover;
  background-repeat: no-repeat;
}
.services__header h3 {
  color: var(--Smoky-Black, #0f0f0f);
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
}
.services__navigation {
  display: flex;
  gap: 10px;
}
.services__navigation button {
  display: flex;
  width: 63.471px;
  height: 63.471px;
  padding: 16.735px 16.735px 15.736px 16.736px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray, #f0f1f3);
  background: var(--white, #fff);
  cursor: pointer;
}
