.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul {
  padding-left: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.resource__layout {
  background: var(--Gray-BG, #f2f2f2);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(33, 74, 74);
}
.info__layout {
  display: grid;
  padding: 20px 70px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (max-width: 900px) {
  .info__layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .info__layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  .info__layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* .modal.custom .modal-dialog {
  width: 50%;
  margin: 0 auto;
  /*add what you want here*/
  .modal-content {
    padding: 0 !important;
}

.main-img{
  width: calc(100% - 100px);
  margin: 18vh 50px 0 50px !important; 
  height: 80vh;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 450px;
}

.main-img figcaption{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10%;
  background-color: #0000004e;
}
.main-img figcaption h1,
  .main-img figcaption h2{
  width: 100%;
  padding: 20px;
  font-size: 3rem;
    font-weight: 700;
  text-align: center !important;
}
.member-link:hover{
  scale: 1.1;
color: wheat !important;
background-color: var(--darkgreen-color);
}
.side-img{
  width: 50%;
}
small{
  width: 5px ;
  height: 20px;
  transform: translate(1px,-5px);
  display: inline-block ;
  font-size: 12px !important;
}

body[dir='ltr'] small{
  width: 5px ;
  height: 20px;
  transform: translate(-5px,-5px);
  display: inline-block ;
  font-size: 12px !important;
}
