.App {
  text-align: center;
  /* background-color: #f2f2f2; */
  background-image: none;
}
html[dir = "rtl"] h2,
html[dir = "rtl"] h3
html[dir = "rtl"] p
{
    text-align: right !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul {
  padding-left: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.resource__layout {
  width: 100%;
  background: var(--Gray-BG, #f2f2f2);
  padding: 10px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(33, 74, 74);
}
.info__layout {
  display: grid;
  padding: 20px 70px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (max-width: 900px) {
  .info__layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .info__layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  .info__layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* .modal.custom .modal-dialog {
  width: 50%;
  margin: 0 auto;
  /*add what you want here*/
.modal-content {
  padding: 0 !important;
}

.main-img {
  width: 100%;
  margin: 108px 0 0 !important;
  height: calc(80vh - 108px);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}
html[dir = "rtl"] .main-img figcaption {
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 0) 1.23%,
    rgba(1, 77, 75, 0.76) 98.89%
  );
}
.main-img figcaption {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  flex-direction: column;
  padding: 0 120px;
  /* padding: 20px 10%; */
  background: linear-gradient(
    268.38deg,
    rgba(255, 255, 255, 0) 1.23%,
    rgba(1, 77, 75, 0.76) 98.89%
  );

  /* background-color: #0000004e; */
}

html[dir = "rtl"] .main-img figcaption h1,
html[dir = "rtl"] .main-img figcaption h2 
{
  text-align: right !important;
}
.main-img figcaption h1,
.main-img figcaption h2 {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  /* padding: 150px 150px 0 0; */
  font-size: 3.25rem;
  /* margin: 0 !important; */
  font-weight: 700;

  text-align: left !important;
}
.main-img figcaption h3 {
  /* text-align: left !important; */
  margin: 0 !important;
  font-weight: 400;
}
.member-link:hover {
  /* scale: 1.1; */
  color: wheat !important;
  background-color: var(--darkgreen-color);
}
.side-img {
  width: 50%;
}
small {
  width: 5px;
  height: 20px;
  transform: translate(1px, -5px);
  display: inline-block;
  font-size: 12px !important;
}

body[dir="ltr"] small {
  width: 5px;
  height: 20px;
  transform: translate(-5px, -5px);
  display: inline-block;
  font-size: 12px !important;
}
.mar_120 {
  margin: 0 120px !important;
}
@media screen and (max-width: 767px) {
  .mar_120 {
    margin: 0 20px !important;
  }
  .cont {
    /* padding: 2.5rem 3.75rem; */
    padding: 0 20px 0 20px !important ;
    /* background: var(--gray-color); */
    background: #f2f2f2;
  }
}
.cont {
  /* padding: 2.5rem 3.75rem; */
  padding: 0 120px 0 120px !important ;
  /* background: var(--gray-color); */
  background: #f2f2f2;
}

.promImg {
  margin-top: 10px;
  width: 20px !important;
  height: 12px !important;
  margin-right: 20px;
  /* font-size: 20px !important; */
}
