.sidebar-links{
    padding: 1.5rem .75rem;
    border-radius: 0.75rem;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.sidebar-links .member-link{
    display: block;
    color: var(--black-color);
    text-decoration: none;
    font-size: 18px;
    padding: .94rem .62rem;
    border-bottom: 1px solid var(--gray-color);
}

@media  (max-width: 990px) {
    .sidebar-links{
        display: none;
    }
}
