.videoText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid var(--html-themewin-com-gallery, #eee);
}
.text__content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.text__content p {
  color: var(--html-themewin-com-black, #000);

  /* html.themewin.com/Hind/Medium 16 */
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
  margin-top: 10px;
}
.video_time {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.video_time p {
  color: var(--html-themewin-com-shark, #212529);

  /* 16 Regular */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
.video_time p svg {
  margin-top: -5px;
}
.Video_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Green, #214a4a);
  padding: 4px 10px;
  border: none;
  color: #fff;
  margin-top: -10px;
}
.Video_btn p {
  color: var(--white, var(--white, #fff));

  /* html.themewin.com/Inter/Regular 14 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 164.286% */
}
